name: push and pr release

on:
  push:
    branches:
      - main
      - develop
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - develop
    paths-ignore:
      - '**.md'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'zulu'

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Restore Gradle cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-          

      - name: Build and Release Main
        if: ${{ github.ref_name == 'main' }}
        run: |
          ./gradlew --no-daemon clean build -Psemver.main.scope=patch -Pgradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }} -Pgradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }} publishPlugins githubRelease
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Build and Release Develop
        if: ${{ github.ref_name == 'develop' }}
        run: |
          ./gradlew --no-daemon clean build -Psemver.develop.stage=beta
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Build and Release Branch
        if: ${{ github.ref_name != 'develop' && github.ref_name != 'main' }}
        run: |
          ./gradlew --no-daemon clean build -Psemver.feature.stage=alpha
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Stop Gradle daemons
        run: ./gradlew --stop