name: push and pr release

on:
  push:
    branches:
      - main
      - develop
    paths-ignore:
      - '**.md'
  pull_request:
    branches:
      - develop
    paths-ignore:
      - '**.md'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'zulu'

      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Restore Gradle cache
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-          

      - name: Build and Release Main
        if: ${{ github.ref_name == 'main' }}
        uses: gradle/gradle-build-action@v2
        with:
          build-root-directory: ${{ inputs.source }}
          cache-read-only: ${{ github.ref != 'refs/heads/develop' }} # only update the cache on the default branch https://github.com/gradle/gradle-build-action#optimizing-cache-effectiveness
          arguments: |
            -Psemver.main.scope=${{ github.event.inputs.scope }} -Psemver.main.stage=${{ github.event.inputs.stage }} 
            -Pgradle.publish.key=${{ secrets.GRADLE_PUBLISH_KEY }} -Pgradle.publish.secret=${{ secrets.GRADLE_PUBLISH_SECRET }}
            clean build
            publishToSonatype closeAndReleaseSonatypeStagingRepository 
            publishPlugins
            githubRelease
        env:
          GITHUB_TOKEN: ${{ github.token }}
          OSS_USER: '${{ secrets.OSS_USER }}'
          OSS_TOKEN: '${{ secrets.OSS_TOKEN }}'
          OSS_STAGING_PROFILE_ID: '${{ secrets.OSS_STAGING_PROFILE_ID }}'
          ORG_GRADLE_PROJECT_signingKeyId: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGKEYID }}
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGKEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGPASSWORD }}

      - name: Build and Release Develop
        if: ${{ github.ref_name == 'develop' }}
        run: |
          ./gradlew --no-daemon clean build -Psemver.develop.stage=beta
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Build and Release Branch
        if: ${{ github.ref_name != 'develop' && github.ref_name != 'main' }}
        run: |
          ./gradlew --no-daemon clean build -Psemver.feature.stage=alpha
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Stop Gradle daemons
        run: ./gradlew --stop